@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins:wght@300;400;500;600&display=swap');
.portfolio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 15px;
    justify-content: space-between;
}
.project1{
    text-align: center;
    background-color: rgb(132, 128, 221);
    height: 40%;
    border-radius: 40%;
}
.project1:hover{
   
    transition: var(--transition);
    border: 5px solid grey;
}
button{
    padding: 3%;
    margin-top: 4%;
    color: aliceblue;
}
.project1>p{
    margin-top: 6%;
}
.project2{
    text-align: center;
    background-color: rgb(132, 128, 221);
    height: 40%;
    border-radius: 40%;
    margin-left: 2px;
}
.project2:hover{
    transition: var(--transition2);
    border: 5px solid grey;
}
.project2>p{
    margin-top: 6%;
}
button:hover{
    background: transparent;
    border: 1px solid white;
    border-radius: 50%;
    transition: var(--transition);

}
button{
    border-radius: 10%;
}
#port{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size:  600%;
    text-decoration: wavy;
    
}
h1:hover{
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        transition: var(--transition);
        color: rgb(132, 128, 221);
        
}
@media  screen and (max-width:450px){
    
}